<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--    CSS LINKS-->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <title>Nieuwe atleet</title>
</head>
<body>
<div class="row justify-content-center">
    <p class="center"><img class="logoklein" src="css/logo.png" alt="logo"></p>
</div>

<div class="container center">
<form action="/atleet_nieuweAtleetForm">
    <p>
        <label for="atleetNieuweNaam">Naam:</label>
        <input type="text" name="atleetNieuweNaam" id="atleetNieuweNaam">
    </p>
    <p>
        <label for="atleetNieuweGeslacht">Geslacht:</label>
        <input type="text" name="atleetNieuweGeslacht" id="atleetNieuweGeslacht">
    </p>
    <p>
        <select name="atleetLandIndex">
            <option value="-1">
                kies land
            </option>
            <option th:each="landen : ${landen}"
                    th:text="${landen.getNaam()}"
                    th:value="${landenStat.index}">
            </option>
        </select>
    </p>
    <p>
        <input type="submit" name="MaakAtlaat" value="Maak atleet">
    </p>

</form>

<a href="/">Terug naar beginpagina</a>
</div>
</body>
</html>
