

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--    CSS LINKS-->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <title>Olympics startpagina</title>
</head>
<body class="center">

<p><img src="css/logo.png" alt="ErrorTerror"></p>
<h2 class="titel">Olympische Spelen 2021</h2>
<div class="kaderhomepage">

    <p><a href="/land">Landeninformatie</a></p>
    <p><a href="/atleet_zoekAtleet">Team atleet</a></p>
    <p><a href="/record_zoekRecord">Team records</a></p>

</div>
</body>
</html>



