<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--    CSS LINKS-->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <title>Nieuw land</title>
</head>

<body>
<div class="row justify-content-center">
    <p class="center"><img class="logoklein" src="css/logo.png" alt="logo"></p>
</div>

<div class="container center">
<form action="/voegtoeLand" method="post">
    <p><label for="naam">Naam land</label>
        <input type="text" name="naam" id="naam"></p>
    <p> <input type="submit" value="Voeg nieuw land toe" name="voegtoeKnop"></p>
</form>
<p><a href="/">Terug naar beginpagina</a></p>
</div>
</body>
</html>


