<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--    CSS LINKS-->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <title>Highscore</title>
</head>
<body>
<div class="row justify-content-center">
    <p class="center"><img class="logoklein" src="css/logo.png" alt="logo"></p>
</div>

<div class="container align-content-center">
<ul>
    <li th:each="highscore: ${highscores}" th:text="${highscore.getNaam()}  + ' ' + ${highscore.getScore()}"></li>
</ul>
</div>
<p class="center"><a href="/">Terug naar beginapagina</a></p>
</body>
</html>