<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--    CSS LINKS-->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <title>Zoekpagina landen</title>
</head>
<body>
<div class="row justify-content-center">
    <p class="center"><img class="logoklein" src="css/logo.png" alt="logo"></p>
</div>
<div class="container center">
<h2>Landen: zoekpagina</h2>
<form action="/landzoeken">
    <p>Welk land wil je bekijken?</p>
    <p>Het eerste land? - <input type="submit" value="OK" name="eersteLandKnop"></p>
    <p><input type="text" name="landid" size="5"/> - <input type="submit" value="Dit land bekijken" name="landZoekKnop">
    </p>
    <p>Klik <a href="/allelanden">hier</a> als je de hele lijst wil zien</p>

    <p><a href="/">Terug naar beginpagina</a></p>
</form>
</div>
</body>
</html>


